@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=LXGW+WenKai+Mono+TC&display=swap');

body {
  font-family: 'Kiwi Maru', 'LXGW WenKai Mono TC', sans-serif;
}

.bg {
  background: url('@/assets/bg.jpg'), linear-gradient(130deg, #d4d4d4, #ffdac1);
  background-position: center;
  background-repeat: repeat;
  background-blend-mode: hard-light;
}

.navi_bg {
  background: url('@/assets/navi_bg.png') center center;
}

.list_bg {
  background: url('@/assets/list.jpg'),
    linear-gradient(55deg, hsl(0, 100%, 83%), #f9a8d4, #decfff, #cff9ff, #b9ffb3, #fffcaf, #ffbf95);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: padding-box;
  background-blend-mode: hard-light;
  mask: url('@/assets/list_mask.png') no-repeat center center;
  mask-size: cover;
}

.glass-card {
  background: rgba(207, 207, 207, 0.2);
  backdrop-filter: hue-rotate(80deg) saturate(-20%);
  border-radius: 30px;
  padding: 16px;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.1);
}

.button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(189, 189, 189, 0.3);
  backdrop-filter: hue-rotate(180deg) saturate(80%);
}

.reg-log-bg {
  border-radius: 50% 20% / 10% 40%;
  background: url('@/assets/bg.jpg'), linear-gradient(130deg, #d4d4d4, #ffdac1);
  background-position: center;
  background-repeat: repeat;
  background-blend-mode: hard-light;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.text-hover:hover {
  cursor: pointer;
  color: #f3914b;
  text-decoration: underline;
}

.homeBgColor {
  background: rgba(255, 182, 182, 0.2);
  backdrop-filter: hue-rotate(20deg);
}
/* vue-cal */
/* .vuecal {
  background: rgba(207, 207, 207, 0.3);
  backdrop-filter: hue-rotate(80deg) saturate(-20%);
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
} */

/* .vuecal__event {
  background: rgba(207, 207, 207, 0.3);
  backdrop-filter: hue-rotate(180deg) saturate(-20%);
  border-radius: 30px;
  padding: 16px;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.1);
} */

.vuecal__event {
  background: rgba(207, 207, 207, 0.2);
  backdrop-filter: hue-rotate(120deg) saturate(100%);
  border-radius: 30px;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.1);
}

.vuecal__event-title {
  overflow: hidden; /* 超出範圍的部分隱藏 */
  text-overflow: ellipsis; /* 使用省略號顯示超出部分 */
  max-height: 2.3rem; /* 讓標題區域可以自適應大小 */
}

.vuecal__cell {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 輕微陰影 */
}

/* .vuecal__cell:hover {
  background: rgba(207, 207, 207, 0.3);
  backdrop-filter: hue-rotate(30deg);
} */

.vuecal__cell--today {
  backdrop-filter: saturate(80%);
}
